.filters {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    max-width: 968px;

    .filter__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        flex-basis: 50%;

        label {
            font-size: 12px;
            font-weight: $fw-bold;
            color: $grey-dark;
            margin-bottom: 4px;
        }
        input {
            padding: 8px 16px;
            border: none;
        }
    }
}

.entity-filters {
    display: flex;
    flex-direction: row;
    > * {
        flex-basis: 50%;
        &:not(:first-child) {
            margin-left: 16px;
        }
    }
    .filter__input {
        flex-basis: 50%;
    }
    .filter-pill {
        flex-grow: 0;
    }
}

//.search-input {
//    display: flex;
//    flex-direction: column;
//}

.date-range-filter {
    flex-basis: 50%;
    flex-grow: 0;
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filter__input {
    }

    .date-range-picker {
        display: flex;
    }
}
