.sales-grid {
    position: relative;
    max-height: calc(100vh - 256px);
    overflow-y: auto;
    margin-top: 32px;
    margin-bottom: 32px;

    .grid-pagination {
        position: sticky;
        top: 0;
        display: flex;
        z-index: 99;
        font-size: 12px;
        background-color: $grey-white;
        justify-content: space-between;
        padding: 8px 16px;
        width: 100%;
        border: 2px solid $grey-lighter;


        nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            > :not(:first-child) {
                margin-left: 8px;
            }
        }
    }

    .grid {
        position: relative;
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;

        thead {
            font-size: 0.8em;
            th {
                background-color: $grey-lighter;
                color: $grey-dark;
                text-align: left;
                position: sticky;
                top: 39px;
                padding: 8px 0;
                &:first-child {
                    padding-left: 16px;
                }
            }
        }

        tbody {
            overflow: auto;
            tr {
                &:not(:first-child) {
                    border-top: 2px solid $grey-white;
                }
            }

            td {
                padding-top: 8px;
                padding-bottom: 8px;
                &:first-child {
                    padding-left: 16px;
                }

            }
        }

        ul {
            padding: 0;
            margin: 0;
        }

        .grid-row {
            list-style: none;
            //display: grid;
            //grid-template-columns: 120px 80px auto auto 80px;


            &__headings {
                margin-top: -32px;
            }

            &__item {

            }
        }
    }

}

