// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;
$fw-heavy: 900;

$grey-darkest: #263240;
$grey-darker: #424E5C;
$grey-dark: #596A7D;
$grey-base: #627E9D;
$grey-light: #8CA7C5;
$grey-lighter: #C4D5E9;
$grey-lightest: #E5EDF6;
$grey-white: #F6F9FC;

$green-darkest: #0A3939;
$green-darker: #0E5353;
$green-dark: #108484;
$green-base: #00C4C3;
$green-light: #1FE0DF;
$green-lighter: #84F6F5;
$green-lightest: #BCFAFA;
$green-white: #E7FDFD;

$blue-darkest: #0A253D;
$blue-darker: #113C64;
$blue-dark: #175EA1;
$blue-base: #1478D7;
$blue-light: #4696E2;
$blue-lighter: #72AFE9;
$blue-lightest: #AFCFEF;
$blue-white: #EDF5FD;

$text-color: $grey-darkest;
